* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: rgba(15,23,49,1.0);
	--bg-color2: rgba(12,20,30,1.0);
	--bg-color3: rgba(74,33,189,1.0);
	--color1: #FFF;
	--color2: #DDD;
	--color3: #50A7D8;
	--gradient1: -45deg, rgba(74,33,189,1.0) 35%, rgba(78,165,218,1.0) 63%;
	--gradient2: -45deg, rgba(78,168,218,0.5) 60%, rgba(74,33,189,0.5) 71%;
	--gradient3: -45deg, rgba(74,33,189,1.0) 71%, rgba(78,168,218,1.0) 60%;
}

/* BASE STYLING */
body {
	background-color: var(--bg-color);
	font-family: sans-serif;
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--color1);
}

p {
	color: var(--color2);
}
/* END OF BASE STYLING */


.scale-up-tl {
	-webkit-animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}